# Ignore Streamlit secrets
.streamlit/

# Ignore local database files so they don't overwrite the cloud
bankroll.txt
bet_history.csv
dropdowns.json
*.csv
hasher.py

# Ignore Mac system files
.DS_Store

venv/
.venv/
env/
__pycache__/